body{
  margin-top: 50px;
}

.navbar-nav > li > a {
  padding-top:5px !important;
  padding-bottom:5px !important;
  /*color: rgb(246, 56, 60) !important;*/
  color: rgb(184, 198, 222) !important;
}

.navbar {
  min-height:32px !important;
}

.divide-nav {
  background-color: #2e353b;
  border-bottom: 0px;
  font-size: small;
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.center-block {float: none !important}


