<div class="row">
  <div class="col-xs-12">
    <br />
    <form method="post" id="form-login">
      <div class="form-group">
      <input id="id_username" class="form-control" style="width:30%;" maxlength="30" name="username" placeholder="Username" type="text">
      </div>
      <div class="form-group">
      <input id="id_password1" class="form-control" style="width:30%;" name="password1" placeholder="Password" type="password">
      </div>

      <input type="submit"  class="form-control" value="Sign in" class="btn btn-success primary-action-button action-button-small">

    </form>
  </div>
</div>

