<div class="container">
    <div class="container vertical-center">
        <div class="row " >
            <div class="col-xs-12 center-block container-brand">
                GooglAnime
            </div>
            <div style="height: 30px;" class="col-xs-12 center-block">
            </div>
            <div class="col-xs-8 center-block">
                <nav>
                    <ul class="search-type pagination custom">
                        <li><a class="default" href="#">Anime</a></li>
                        <li><a href="#">Manga</a></li>
                        <li><a href="#">Mangaka</a></li>
                        <li><a href="#">Character</a></li>
                        <li><a href="#">Podcast</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-8 center-block">
                <div class="input-group">
                    <div class="container-4 input-group-btn right-addon">
                      {{input id="search" required="true" type="text" class="form-control" placeholder="Search for..." value=searchValue}}
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
