<div class="navbar subnav" role="navigation">
    <div class="navbar-left">
        <ul class="pager subnav-pager ">
            <div class="col-xs-5">
                <div class="input-group">
                  {{input key-up='callBackend' id="search2" required="true" type="text" class="form-control" placeholder="Search for..." value=controller.query}}
                  <span class="input-group-btn">
                    <button {{action 'callBackend'}} class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
            </div>
            <div class="col-xs-1" style="width: auto;">
                <div class="pull-right" >
                    <button class="btn btn-default btn btn-filter" data-toggle="collapse" data-target="#collapseAdvancedFilter" aria-expanded="false" aria-controls="collapseAdvancedFilter">
                        <span class="glyphicon glyphicon-filter" ></span>
                    </button>
                </div>
                <div class="pull-right" style="margin-left:0px;">
                    <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToThumbnail"}}>
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToList"}}>
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </ul>
    </div>
</div>
