<div class="navbar subnav" role="navigation">
    <div class="navbar-left">
        <ul class="pager subnav-pager ">
            <div class="col-xs-5">
                <div class="input-group">
                    <div class="container-4 input-group-btn right-addon">
                      {{input key-up='callBackend' id="search2" required="true" type="text" class="form-control" placeholder="Search for..." value=controller.query}}
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-1" style="width: auto">
                <div class="pull-right" >
                    <button href="#Foo" class="btn btn-default btn btn-filter" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-filter" ></span>
                    </button>
                </div>
                <div class="pull-right" style="margin-left:0px;">
                    <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToThumbnail"}}>
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToList"}}>
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </ul>
    </div>
</div>
