.container-4 input#search{
  height: 35px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.center-block {float: none !important}

.pagination.custom{
  padding:0;
  margin-bottom:-5px
}

.pagination.custom > li > a,
.pagination.custom > li > span {
  background: none;
  border-bottom: none;
  color: rgb(59, 111, 150);

}
.pagination.custom > li > a:hover,
.pagination.custom > li > a:focus,
.pagination.custom > li > span:hover,
.pagination.custom > li > span:focus,
.pagination.custom > li.active > a,
.pagination.custom > li.active > span {

  border-top: 1px solid #3B6F96;
  box-shadow: inset 0 1.5px #3B6F96;
  border-bottom: none;
  z-index: 100;
}

.container-brand{
  text-align: center;
  font-size: xx-large;
  color: #234157;
}

.navbar-form input, .form-inline input {
  width:auto;
}

.subnav {
  margin:0;
  /*z-index: 1020;*/
  background-color: rgb(247,247,247);
  border-bottom: 1px solid #E1E1E1;
  padding: 20px 0px 0px 0px;
}

.subnav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.subnav.pager {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.pager {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container-search-result{
  padding-left: 0;
  padding-right: 0;
  margin-top: 30px;
}

.change-height{
  height: 1%;
}

.vertical-center-anime {
  min-height: 20%;
  min-height: 20vh;

  align-items: center;
}

.centering {
  text-align: center;
}

.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
  width: 120px;
}
.checkbox-inline.no_indent:last-child {
  margin-right: 0;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
