<script type="text/javascript">
    var type = "Anime";

    $('#search').keypress(function(e){
        if(e.which == 13){
            var url = "search?query=" + $('#search').val() + "&type=" + type.toLowerCase();
            window.location.replace(url);
        }
    });

    //prevent redirection
    $('ul.search-type li a').on('click', function(e) {
        e.preventDefault();
    });

    $(document).ready(function()
    {
        $('ul.search-type li').click(function(e)
        {
            var clickEl = $('ul.search-type li a');

            //deselect
            clickEl.each(function(){
                $(this).css("box-shadow", "none");
                $(this).css("z-index", "none");
                $(this).css("border", "1px solid #ddd");
                $(this).css("border-bottom", "none");

            });
            //select
            $(this).find("a").css("border-top", "1px solid #3B6F96");
            $(this).find("a").css("box-shadow", "inset 0 1.5px #3B6F96");
            $(this).find("a").css("border-bottom", "none");

            type = $(this).find("a").text();
        });
    });

    $('.subnav').affix({
        offset: {
            top: $('#navtop').height()
        }
    });
</script>
{{#if controller.query}}
    <!-- subnav here -->
    <div class="navbar subnav" role="navigation">
          <div class="navbar-left">
              <ul class="pager subnav-pager ">
                  <div class="col-xs-8">
                      <div class="input-group">
                          <div class="container-4 input-group-btn right-addon">
                            {{input id="search2" required="true" type="text" class="form-control" placeholder="Search for..." value=controller.query}}
                              <span class="icon"><i class="fa fa-search"></i></span>
                          </div>
                      </div>
                  </div>
              </ul>
          </div>
    </div>
{{else}}
    <div class="container">
      <div class="container vertical-center">
          <div class="row " >
              <div class="col-xs-12 center-block container-brand">
                  GooglAnime
              </div>
              <div style="height: 30px;" class="col-xs-12 center-block">
              </div>
              <div class="col-xs-8 center-block">
                  <nav>
                      <ul class="search-type pagination custom">
                          <li><a class="default" href="#">Anime</a></li>
                          <li><a href="#">Manga</a></li>
                          <li><a href="#">Mangaka</a></li>
                          <li><a href="#">Character</a></li>
                          <li><a href="#">Podcast</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-xs-8 center-block">
                  <div class="input-group">
                      <div class="container-4 input-group-btn right-addon">
                        {{input id="search" required="true" type="text" class="form-control" placeholder="Search for..." value=searchValue}}
                          <span class="icon"><i class="fa fa-search"></i></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
{{/if}}

